@media screen and (max-width: 993px){

	.fri{
		display: block;
		    float: right;
    margin: 20px -26px;
	}
	 .menu-item-has-children  .menu-subs a:after,
	 .author-img{
		display:none;
	}
	.banner{
		padding-top: 143px;
	}
	.video {
		xheight: 170vh;
	}
	.footer-link .fli{
		display: block;
	}
	.footer-link .fli li a{
		width: 100%;
		margin: 10px 0;
		display: block;
	}
	.ci{
		flex-wrap: nowrap;
	}
	.ci li{
		width: 40px !important;
	}

	.ll2 li {
		width: 100% !important;	
	}

.Reimagine-sec video{
	min-height: 200vh;
}
}
@media screen and (max-width: 767px){
	.scroll-header-sec{
		display:none;
	}
	.explore-mobile-view{
		position: absolute;
		display: block;
    width: 75px;
    right: 0;
    top: -40px;
	}
	.screenshot_slider a{
		color: #000;
		text-decoration: none;
	}
		.header-item-right a{
		height: 	50px;
	}
	.pt-common{
		xpadding-top: 	66px;
	}
	.footer-link,
	.footer-link ul{
		flex-wrap: 	wrap	;
	}
	.oss img{
		height:100vh;
	}
	.banner-caption h1,
	.Shareholders h2,
	.common-header h2{
		font-size: 	30px;
	}
	.rec-con{
		width: 	75%;
	}
	.social-media-fixed,
	.address-sec .addrss-internal .back,
	.address-sec .addrss-internal .back2{
		display: 	none;
	}
	.address-sec .addrss-internal{
		margin:1rem 0;
	}
	.pt0{
		padding: 0 25px;
	}
	.pt-padding {
    padding: 0rem;
}
.voices  h3{
	font-size:18px;
}
	.Shareholders{
		width: 	90%;
	}
	.bell,.author-img{
		display: 	none;
	}
	.banner-caption{
		width: 	85%;
		border-radius: 	40px;
	}
	.banner-caption p,
	.rec-con p,
	.common-header p,
	.ceo-section .container .inn p{
		font-size: 	18px;
		padding:0 1rem;
	}
	.blog-inner .tags a{
		font-size: 14px;
		    padding: 0.5rem 1rem;
	}
	.voice-section .col-md-3{
		padding:0 20px;
	}
	.voice-section .col-md-3:nth-child(2),
	.voice-section .col-md-3:nth-child(3),
	.voice-section .col-md-3:nth-child(4),
	.voice-section .col-md-3:nth-child(5){
		margin-top:0;
	}
	.Reimagine-sec video{
		height: 	150vh;
	}
	.ceo-section{
		height:unset;
	}
	.ceo-section .container .inn{
		width: 	100%;
		padding:2rem 0;
	}
	.vbt{
		text-align: center;
	}

}
